*,
body,
html {
  box-sizing: border-box;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Arial, Helvetica;
  background-color: #dfb25c;
  overflow: hidden; /*Nilas*/
}

header{
display: flex;
}

header img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.start_logo {
  width: 1000px;
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: center;
}

.knappar {
  display: flex;
  justify-content: center;
}

.knapp {
  background-color: rgb(238, 216, 216);
  font-size: 60px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
}

/*Logged in*/
.logo {
  width: 400px;
}

.join_text {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
  height: 25px;
  font-size: 25px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

/*Logged in teacher*/
.Teachbutton button{
  display: flex;
  justify-content: center ;
  align-items: center;
  width:120px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}

/*In game lobby*/
.pin {
  font-size: 45px;
}

.info {
display: flex;
justify-content: space-around;
font-size: 20px;
}

.startknapp {
  margin-bottom: 10px;
  width: 100px;
  font-size: 35px;
  border-top-color: rgba(217, 189, 86, 0.65);
  border-left-color: rgba(217, 189, 86, 0.65);
  border-bottom-color: rgb(152, 137, 38);
  border-right-color: rgb(152, 137, 38);
   
}

.nameBox {
  display: flex;
  padding: 100px 75px;
  margin: 0 20px;
  border: 5px black solid;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 30px;
}

.nameBox.name {
  margin: 0 20px; 
}

.nameBox h2{
  padding: 8px;
}


/*gamestart*/

.rubrik_quest {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  font-size: 50px;
}

.container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "ques1 ques2"
  "ques3 ques4"
  ;
  gap: 10px;
}

.container button{
  font-size: 36px;
  border: 2px solid black;
}

.quest1{
  grid-area: ques1;
}

.quest2{
  grid-area: ques2;
}

.quest3{
  grid-area: ques3;
}
.quest4{
  grid-area: ques4;
}