*,
body,
html {
  box-sizing: border-box;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Arial, Helvetica;
  background-color: #dfb25c;
  overflow: hidden; /*Nilas*/
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.logo {
  width: 1000px;
  padding: 0px 50px 0px 50px;
}

.knappar {
  display: flex;
  justify-content: center;
}

.knapp {
  background-color: rgb(238, 216, 216);
  font-size: 60px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
}
