*,
body,
html {
  box-sizing: border-box;
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif, Arial, Helvetica;
  background-color: #dfb25c;
  overflow: hidden; /*Nilas*/
}

header{
display: flex;
}

header img{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.start_logo {
  width: 1000px;
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: center;
}

.knappar {
  display: flex;
  justify-content: center;
}

.knapp {
  background-color: rgb(238, 216, 216);
  font-size: 60px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
}

/*Logged in*/
.logo {
  width: 400px;
}

.join_text {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
}

input {
  width: 200px;
  height: 25px;
  font-size: 25px;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

/*Logged in teacher*/
.Teachbutton button{
  display: flex;
  justify-content: center ;
  align-items: center;
  width:120px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}

/*In game lobby*/
.pin {
  font-size: 45px;
}

.info {
display: flex;
justify-content: space-around;
font-size: 20px;
}

.startknapp {
  margin-bottom: 10px;
  width: 100px;
  font-size: 35px;
  border-top-color: rgba(217, 189, 86, 0.65);
  border-left-color: rgba(217, 189, 86, 0.65);
  border-bottom-color: rgb(152, 137, 38);
  border-right-color: rgb(152, 137, 38);
   
}

.nameBox {
  display: flex;
  padding: 100px 75px;
  margin: 0 20px;
  border: 5px black solid;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 30px;
}

.nameBox.name {
  margin: 0 20px; 
}

.nameBox h2{
  padding: 8px;
}


/*Loadingscreen*/

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.Loadingpic {
display: block;
  width: 100px;
  height: 100px;
animation: rotation 5s infinite linear;
margin: calc(50vw - 100px) auto;
}
