.ingame {
    display: flex;
    padding: 5rem 4.8125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
    align-self: stretch;
}

.ingame #questionbox {
    display: flex;
    padding: 3rem 0rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;

    border-radius: 0.9375rem;
    background: var(--surface-0, #313244);
}

.ingame #questionbox #question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;

    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ingame #buttons {
    display: flex;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 0.625rem;
    background: var(--surface-0, #313244);
}

.ingame button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: 0.625rem;
    /* color is set directly on the button component */
}

.ingame button .label {
    color: #FFF;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}