/* JoinForm.css */
.alignment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
    margin: 0; /* Remove default margin */
  }
  
  .join-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px; /* Adjust the gap between inputs and button */
  }
  
  /* Additional styling can be applied as needed */
  input, button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--surface-0);
    transition: border-color 0.25s;
  }
  
  button {
    cursor: pointer;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 600px) {
    .join-form-container {
      /* Adjust styles for smaller screens */
      gap: 5px;
    }
    
    /* Adjust input and button styles for smaller screens */
    input, button {
      padding: 0.5em 1em;
      font-size: 0.9em;
    }
  }
  